ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #ffffff;
    float: right;
}

li {
    float: right;
    position: relative;
	margin-right: 30px;
}

li a {
    color: #2D97DF;
    padding: 0px 0px;
    text-decoration: none;
    float: right;
}

li a:hover {
    background-color: #ffffff;
}
.logo { 
    vertical-align: middle;
    height: 79px;
    display: inline-block;
}
#Footer{
    background-color: #33485F;
    color: white;
    clear: both;
    text-align: center;
    padding: 10px;
    margin-left: auto;
    width: 100%;
}
#layout{
    padding: 20px;
    flex: 1;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
